# History files
.Rhistory
.Rapp.history

# Docs folder from `pkgdown::build_site()`
docs/
inst/doc

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# Output files from Quarto site build
gt_qmd_examples/

# RStudio files
.Rproj.user/

# Vignettes
vignettes/*.html
vignettes/*.pdf
vignettes/*.R

# knitr and R Markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md
.Rproj.user

# Other files
.DS_Store
test.rtf
docs
*.html
*.qmd
/*.docx
