.gt_table {
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Arial, sans-serif;
  border-top:solid 2px #A8A8A8;
  background-color: #FFFFFF; /* table.background.color */
  width:100%; /* table.width */
  border-collapse:collapse;
}

.heading {
  background-color: #FFFFFF; /* heading.background.color */
}

.title {
  border-top:solid 2px #A8A8A8; /* heading.border.top */
  font-size:125%; /* title.font.size */
  padding-top:4px;
  /* title.background.color */
}

.headnote {
  font-size:85%; /* headnote.font.size */
  padding-bottom:4px;
  /* headnote.background.color */
}

.spacer {
  border-bottom-style: none;
}

.bottom_border {
  border-bottom:solid 2px #A8A8A8; /* heading.border.bottom */
}

.column_spanner {
  border-bottom:solid 2px #A8A8A8;
}

.col_heading {
  padding:10px;
  margin:10px;
}

.sep_right {
  border-right:5px solid #FFFFFF;
}

.stub_heading {
  padding:8px;
  border-top:2px solid #A8A8A8; /* stub.heading.border.top */
  border-bottom:1px solid #BDBDBD; /* stub.heading.border.bottom */
  background-color: #FFFFFF; /* stub.heading.background.color */
}

.stub_heading_field {
  border-top:2px solid #A8A8A8; /* stub.heading.field.border.top */
  border-bottom:1px solid #BDBDBD; /* stub.heading.field.border.bottom */
  background-color: #FFFFFF; /* stub.heading.field.background.color */
}

.row {
  padding:10px; /* row.padding */
  margin:10px; /* row.margin */
}

.table_body {
  border-top:solid 2px #A8A8A8; /* field.border.top */
  border-bottom:solid 2px #A8A8A8; /* field.border.bottom */
}

.footnote {
  font-size:90%; /* footnote.font.size */
  padding:4px; /* footnote.padding */
}

.sourcenote {
  font-size:90%; /* sourcenote.font.size */
  padding:4px; /* sourcenote.padding */
}

.center {
  text-align:center;
}

.left {
  text-align:left;
}

.right {
  text-align:right;
}

.font_normal {
  font-weight: normal;
}

.font_bold {
  font-weight: bold;
}

.font_italic {
  font-style: italic;
}

.gt_super {
  font-size:65%;
}

.striped tr:nth-child(even) {
   background-color: #F5F5F5; /* row.striping.background.color */
}
