@mixin gt_styles() {

  .gt_table {
    display: table;
    border-collapse: collapse;
    margin-left: $table_margin_left;
    margin-right: $table_margin_right;
    color: font-color($table_background_color);
    font-size: $table_font_size;
    background-color: $table_background_color; /* table.background.color */
    width: $table_width; /* table.width */
    border-top-style: $table_border_top_style; /* table.border.top.style */
    border-top-width: $table_border_top_width; /* table.border.top.width */
    border-top-color: $table_border_top_color; /* table.border.top.color */
    border-bottom-style: $table_border_bottom_style; /* table.border.bottom.style */
    border-bottom-width: $table_border_bottom_width; /* table.border.bottom.width */
    border-bottom-color: $table_border_bottom_color; /* table.border.bottom.color */
  }

  .gt_heading {
    background-color: $heading_background_color; /* heading.background.color */
    border-bottom-color: $table_background_color;
  }

  .gt_title {
    color: font-color($heading_background_color);
    font-size: $heading_title_font_size; /* heading.title.font.size */
    padding-top: 4px; /* heading.top.padding - not yet used */
    padding-bottom: 4px;
    border-bottom-color: $table_background_color;
    border-bottom-width: 0;
  }

  .gt_subtitle {
    color: font-color($heading_background_color);
    font-size: $heading_subtitle_font_size; /* heading.subtitle.font.size */
    padding-top: 0;
    padding-bottom: 4px; /* heading.bottom.padding - not yet used */
    border-top-color: $table_background_color;
    border-top-width: 0;
  }

  .gt_bottom_border {
    border-bottom-style: $heading_border_bottom_style; /* heading.border.bottom.style */
    border-bottom-width: $heading_border_bottom_width; /* heading.border.bottom.width */
    border-bottom-color: $heading_border_bottom_color; /* heading.border.bottom.color */
  }

  .gt_column_spanner {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #D3D3D3;
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .gt_col_heading {
    color: font-color($column_labels_background_color);
    background-color: $column_labels_background_color; /* column_labels.background.color */
    font-size: $column_labels_font_size; /* column_labels.font.size */
    font-weight: $column_labels_font_weight; /* column_labels.font.weight */
    vertical-align: middle;
    padding: 5px;
    margin: 10px;
    overflow-x: hidden;
  }

  .gt_columns_top_border {
    border-top-style: $columns_border_top_style;
    border-top-width: $columns_border_top_width;
    border-top-color: $columns_border_top_color;
  }

  .gt_columns_bottom_border {
    border-bottom-style: $columns_border_bottom_style;
    border-bottom-width: $columns_border_bottom_width;
    border-bottom-color: $columns_border_bottom_color;
  }

  .gt_sep_right {
    border-right: 5px solid #{$column_labels_background_color};
  }

  .gt_group_heading {
    padding: $row_group_padding; /* row_group.padding */
    color: font-color($row_group_background_color);
    background-color: $row_group_background_color; /* row_group.background.color */
    font-size: $row_group_font_size; /* row_group.font.size */
    font-weight: $row_group_font_weight; /* row_group.font.weight */
    border-top-style: $row_group_border_top_style; /* row_group.border.top.style */
    border-top-width: $row_group_border_top_width; /* row_group.border.top.width */
    border-top-color: $row_group_border_top_color; /* row_group.border.top.color */
    border-bottom-style: $row_group_border_bottom_style; /* row_group.border.bottom.style */
    border-bottom-width: $row_group_border_bottom_width; /* row_group.border.bottom.width */
    border-bottom-color: $row_group_border_bottom_color; /* row_group.border.bottom.color */
    vertical-align: middle;
  }

  .gt_empty_group_heading {
    padding: 0.5px;
    color: font-color($row_group_background_color);
    background-color: $row_group_background_color; /* row_group.background.color */
    font-size: $row_group_font_size; /* row_group.font.size */
    font-weight: $row_group_font_weight; /* row_group.font.weight */
    border-top-style: $row_group_border_top_style; /* row_group.border.top.style */
    border-top-width: $row_group_border_top_width; /* row_group.border.top.width */
    border-top-color: $row_group_border_top_color; /* row_group.border.top.color */
    border-bottom-style: $row_group_border_bottom_style; /* row_group.border.bottom.style */
    border-bottom-width: $row_group_border_bottom_width; /* row_group.border.bottom.width */
    border-bottom-color: $row_group_border_bottom_color; /* row_group.border.bottom.color */
    vertical-align: middle;
  }

  .gt_striped {
     background-color: $row_striping_background_color;
  }

  .gt_from_md > :first-child {
    margin-top: 0;
  }

  .gt_from_md > :last-child {
    margin-bottom: 0;
  }

  .gt_row {
    padding: $row_padding; /* row.padding */
    margin: 10px;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: #D3D3D3;
    vertical-align: middle;
    overflow-x: hidden;
  }

  .gt_stub {
    border-right-style: solid;
    border-right-width: 2px;
    border-right-color: #D3D3D3;
    padding-left: 12px;
  }

  .gt_summary_row {
    color: font-color($summary_row_background_color);
    background-color: $summary_row_background_color; /* summary_row.background.color */
    padding: $summary_row_padding; /* summary_row.padding */
    text-transform: $summary_row_text_transform; /* summary_row.text_transform */
  }

  .gt_grand_summary_row {
    color: font-color($grand_summary_row_background_color);
    background-color: $grand_summary_row_background_color; /* grand_summary_row.background.color */
    padding: $grand_summary_row_padding; /* grand_summary_row.padding */
    text-transform: $grand_summary_row_text_transform; /* grand_summary_row.text_transform */
  }

  .gt_first_summary_row {
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: #D3D3D3;
  }

  .gt_first_grand_summary_row {
    border-top-style: double;
    border-top-width: 6px;
    border-top-color: #D3D3D3;
  }

  .gt_table_body {
    border-top-style: $table_body_border_top_style; /* table_body.border.top.style */
    border-top-width: $table_body_border_top_width; /* table_body.border.top.width */
    border-top-color: $table_body_border_top_color; /* table_body.border.top.color */
    border-bottom-style: $table_body_border_bottom_style; /* table_body.border.bottom.style */
    border-bottom-width: $table_body_border_bottom_width; /* table_body.border.bottom.width */
    border-bottom-color: $table_body_border_bottom_color; /* table_body.border.bottom.color */
  }

  .gt_footnotes {
    border-top-style: $footnotes_border_top_style; /* footnotes.border.top.style */
    border-top-width: $footnotes_border_top_width; /* footnotes.border.top.width */
    border-top-color: $footnotes_border_top_color; /* footnotes.border.top.color */
  }

  .gt_footnote {
    font-size: $footnote_font_size; /* footnote.font.size */
    margin: $footnote_margin;
    padding: $footnote_padding; /* footnote.padding */
  }

  .gt_sourcenotes {
    border-top-style: $sourcenotes_border_top_style; /* sourcenotes.border.top.style */
    border-top-width: $sourcenotes_border_top_width; /* sourcenotes.border.top.width */
    border-top-color: $sourcenotes_border_top_color; /* sourcenotes.border.top.color */
  }

  .gt_sourcenote {
    font-size: $sourcenote_font_size; /* sourcenote.font.size */
    padding: $sourcenote_padding; /* sourcenote.padding */
  }

  .gt_center {
    text-align:center;
  }

  .gt_left {
    text-align:left;
  }

  .gt_right {
    text-align:right;
    font-variant-numeric:tabular-nums;
  }

  .gt_font_normal {
    font-weight:normal;
  }

  .gt_font_bold {
    font-weight:bold;
  }

  .gt_font_italic {
    font-style:italic;
  }

  .gt_super {
    font-size:65%;
  }

  .gt_footnote_marks {
    font-style:italic;
    font-size:65%;
  }

}
